
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #706464;
    background-color: #f4f4f4;
}

nav {
    background: #8ea5bc;
    padding: 10px;
    display: flex;
    justify-content: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 20px;
    font-weight: bold;
}

nav a:hover {
    color: #1c384b;
    text-decoration: underline;
}

header {
    background: #34495e;
    color: white;
    padding: 30px;
    text-align: center;
}

main {
    max-width: 1000px;
    margin: 20px auto;
    background: rgb(255, 255, 255);
    padding: 2rem;
    border-radius: 8px;
}

footer {
    text-align: center;
    padding: 30px;
    font-size: 12px;
}
